.profile__edit-button {
    background-image: url(../../../images/pen-icon.svg);
    background-repeat: no-repeat;
    background-color: unset;
    background-position: center;
    border: 1px solid #fff;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}