.popup__close-button {
    all: unset;
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin: 0;
    padding: 0;

}